<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Dogs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="wrapper">
        <a href="/toys">View all toys</a>
        <h1>All dogs</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Breed</th>
                </tr>
            </thead>
            <tbody>
                {% for dog in all_dogs %}
                <tr>
                    
                    <td>{{dog.id}}</td>
                    <td><a href="/dogs/{{dog.id}}">{{dog.name}}</a></td>
                    <td>{{dog.type}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% with messages = get_flashed_messages() %}
        <form action="/dogs/create" method="POST">
            <fieldset>
                <legend>Create Dog</legend>
                <div class="form-group">
                    <label for="name">Name:</label>
                    <input id="name" type="text" name="name">
                </div>
                <div class="form-group">
                    <label for="type">Type:</label>
                    <input id="type" type="text" name="type">
                </div>
                <div class="form-group">
                    <label for="fav_toy">Favorite Toy:</label>
                    <select name="fav_toy_id" id="fav_toy">
                        {% for toy in all_toys %}
                        <option value="{{toy.id}}">{{toy.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <button>Create dog</button>
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            </fieldset>
        </form>
        {% endwith %}
    </div>
</body>
</html>