<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Dog</title>
</head>
<body>
    <h1>{{dog.name}}</h1>
    <p>Type: {{dog.type}}</p>
    <p>Current toys:</p>
    <ul>
    {% for toy in dog.toys %}
        <li>{{toy.name}} <a href="/dogs/{{dog.id}}/remove-toy/{{toy.id}}">remove</a></li>
    {% endfor %}
    </ul>
    <form action="/dogs/{{dog.id}}/add-toy" method="POST">
        <h2>Give toy:</h2>
        <label for="toy">Toy: </label>
        <select id="toy" name="toy_id">
        {% for toy in all_toys %}
            {% if toy not in dog.toys %}
                <option value="{{toy.id}}">{{toy.name}}</option>
            {% endif %}
        {% endfor %}
        </select>
        <button>Give</button>
    </form>
</body>
</html>